<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad.dms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".signin.Login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signin.ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".salesrep.SalesRepHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.AdminHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.AddSalesRep"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".salesrep.SalesRepProfileSettings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.AdminProfileSettings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.ViewSalesRep"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.ManageSalesRep"
            android:theme="@style/AppTheme" />

        <!-- Products -->
        <activity
            android:name=".product.ProductView"
            android:label="Products" />
        <activity
            android:name=".product.ProductAdd"
            android:label="Add Product"
            android:parentActivityName=".product.ProductView" />
        <activity
            android:name=".product.ProductUpdate"
            android:parentActivityName=".product.ProductView" />

        <!-- Orders -->
        <activity
            android:name=".orders.OrderMainActivity"
            android:label="@string/order_main_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".orders.OrderAddActivity"
            android:label="@string/order_add_label" />
        <activity
            android:name=".orders.OrderViewActivity"
            android:label="@string/order_name_placeholder"
            android:parentActivityName=".orders.OrderMainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <!-- Shops -->
        <activity
            android:name=".shops.ShopViewActivity"
            android:label="@string/shops" />
        <activity
            android:name=".shops.ShopInsertActivity"
            android:label="@string/insert_shop"
            android:parentActivityName=".shops.ShopViewActivity" />
        <activity
            android:name=".shops.ShopEditActivity"
            android:label="@string/edit_shop"
            android:parentActivityName=".shops.ShopViewActivity" />
    </application>

</manifest>
